<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="_NARHEN" connectionString="Server=vapps.dyndns-server.com;Database=narhen;User Id=dbuser;Password=DbUser;" providerName="System.Data.SqlClient" />
    <!--<add name="_NARHEN" connectionString="Server=PC01;Database=narhen;User Id=SYSUSER;Password=SYSUSER;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="_RUTA_FACTURA" value="C:\SCE\FACTURA\" />
    <add key="_RUTA_BOLETA" value="C:\SCE\BOLETA\" />
    <add key="_RUTA_NOTA_CREDITO" value="C:\SCE\NOTA_CREDITO\" />
    <add key="_RUTA_NOTA_DEBITO" value="C:\SCE\NOTA_DEBITO\" />
    <add key="_LOGO" value="C:\SCE\LOGO\logo-transparente.png" />
    <add key="_RESOLUCION" value="N° 0180050001319/SUNAT" />
    <add key="_WEB_COMPROBANTES" value="http://www.lotizador.com/sce/" />
    <add key="_FTP_URL" value="ftp://ftp.facturacionelectronicaperu.net/" />
    <add key="_FTP_USR" value="juannarvaez@facturacionelectronicaperu.net" />
    <add key="_FTP_PWD" value="ilution2018" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GeneracionEnvioComprobantesSoap" />
        <binding name="BasicHttpBinding_INarhen" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:7702/ComprobantesElectronicos/GeneracionEnvioComprobantes.asmx"
        binding="basicHttpBinding" bindingConfiguration="GeneracionEnvioComprobantesSoap"
        contract="SFEService.GeneracionEnvioComprobantesSoap" name="GeneracionEnvioComprobantesSoap" />
      <endpoint address="http://vapps.dyndns-server.com:2450/wcf/NarhenService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INarhen"
        contract="LotizadorService.INarhen" name="BasicHttpBinding_INarhen" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>